<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>About</ion-title>
    <ion-buttons slot="end">
        <ion-menu-button menu="main"></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">About</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button menu="main"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item-group>
        <ion-item-divider color="light">
          <ion-label>Luis Felipe Macedo dos Santos</ion-label>
        </ion-item-divider>
        <ion-item>
          <ion-thumbnail>
            <ion-img src="assets/pikachu.gif"></ion-img>
          </ion-thumbnail>
          <ion-label position="" class="ion-padding">
            3 anos aprendendo programação e nada ainda.
          </ion-label>
          <!-- <ion-note>
              Não sei nem centralizar uma div.
          </ion-note> -->
        </ion-item>
      </ion-item-group>
    </ion-list>
  </ion-content>
</ion-content>
