ion-thumbnail.match-thumbnail {
    --size: 30px;
}

ion-thumbnail.competition-thumbnail {
    --size: 80px;
    // height: 160px;
}

ion-item{
    display: flex;

}
ion-label {
    margin: 0 auto;
}

ion-spinner.main-loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}