<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-back-button defaultHref="/home" slot="start"></ion-back-button>
    <ion-title size="large">Partidas</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-select
    mode="md"
    interface="alert"
    placeholder="Selecione uma temporada"
    [multiple]="false"
    justify="space-between"
    fill="solid"
    label-placement="floating"
    (ionCancel)="onSeasonChange($event)"
    (ionChange)="onSeasonChange($event)"
    (ionDismiss)="onSeasonChange($event)"
  >
    <ion-label slot="label">Temporada</ion-label>
    @for(season of seasons; track season.id){
    <ion-select-option value="{{ season.startDate | date : 'yyyy' }}">
      >
      {{ season.startDate | date : "yyyy" }} -
      {{ season.endDate | date : "yyyy" }}
    </ion-select-option>

    }
  </ion-select>
  <ion-card>
    <ion-img
      src="{{ competition?.emblem }}"
      alt="Emblem image of {{ competition?.name }} competition"
    ></ion-img>
    <ion-card-header>
      <ion-card-title>Lista de partidas</ion-card-title>
      <ion-card-subtitle>Competição: {{ competition?.name }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content> </ion-card-content>
  </ion-card>
  <ion-select
    mode="md"
    interface="alert"
    placeholder="Match Status"
    [multiple]="true"
    justify="space-between"
    fill="solid"
    label-placement="floating"
    (ionCancel)="onMatchStatusChange($event)"
    (ionChange)="onMatchStatusChange($event)"
    (ionDismiss)="onMatchStatusChange($event)"
  >
    <ion-label slot="label">Match Status</ion-label>
    @for(status of matchStatuses; track status){
    <ion-select-option value="{{ status }}"
      >{{ status.replace("_", " ") }}
    </ion-select-option>
    }
  </ion-select>
  <ion-infinite-scroll (ionInfinite)="paginate($event)">
    <ion-infinite-scroll-content
      loadingText="Please wait..."
      loadingSpinner="bubbles"
    >
      <ion-list>
        @for(match of matches; track match?.id){
        <ion-item>
          <ion-thumbnail mode="md" slot="start" aria-hidden="true">
            <img
              src="{{ match.homeTeam.crest }}"
              alt="Picute of {{ match.homeTeam.name }} crest"
            />
          </ion-thumbnail>

          <ion-label class="ion-text-center">
            {{ match.score.fullTime.home }} - {{ match.score.fullTime.away }}
          </ion-label>
          <ion-note slot="end">
            {{ match.utcDate | date : "dd/MM/yyyy HH:mm" }}
          </ion-note>
          <ion-thumbnail mode="md" slot="end" aria-hidden="true">
            <img
              src="{{ match.awayTeam.crest }}"
              alt="Picute of {{ match.awayTeam.name }} crest"
            />
          </ion-thumbnail>
        </ion-item>
        }
      </ion-list>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
