ion-thumbnail.match-thumbnail {
    --size: 40px;
}

ion-thumbnail.competition-thumbnail {
    --size: 80px;
    // height: 160px;
}

ion-item{
    display: flex;

}
ion-label {
    margin: 0 auto;
}
