<ion-tabs>
  <ion-tab-bar slot="bottom">
    
    <ion-tab-button tab="standings">
      <ion-icon name="trophy"></ion-icon>
      <ion-label>Standings</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="matches">
      <ion-icon name="football"></ion-icon>
      <ion-label>Matches</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="teams">
      <ion-icon name="people-sharp"></ion-icon>
      <ion-label>Teams</ion-label>
    </ion-tab-button> -->

    <ion-tab-button tab="scorers">
      <ion-icon name="flame-sharp"></ion-icon>
      <ion-label>Scorers</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
