<ion-header [translucent]="true" mode="md">
  <ion-toolbar>
    <ion-title>Campeonatos</ion-title>
    <ion-buttons slot="end">
        <ion-menu-button menu="main"></ion-menu-button>
      </ion-buttons> 
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" id="main">
  <ion-header collapse="condense" mode="md">
    <ion-toolbar>
      <ion-title size="small">Campeonatos</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button menu="main"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-searchbar placeholder="Pesquisar" debounce="500"></ion-searchbar>

  <ion-list>
    @for(competition of (competitions | async)?.competitions; track competition.id){

    <ion-item
      id="{{competition.id}}"
      routerLink="/competitions/{{competition.code}}"
    >
      <ion-thumbnail slot="start">
        <ion-img
          src="{{competition.emblem}}"
          alt="Emblem of {{competition.name}}"
        ></ion-img>
      </ion-thumbnail>
      <ion-card-title>{{competition.name}}</ion-card-title>
      <!-- <ion-note slot="end">{{competition.area.name}}</ion-note> -->
    </ion-item>
    }
  </ion-list>
</ion-content>
