<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">register</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
        <ion-input
        mode="md"
          label="Your e-mail goes here"
          labelPlacement="floating"
          placeholder="happycustomer@gmail.com"
          [clearInput]="true"
          helperText="Enter a valid email"
          errorText="Invalid email"
          ngModel
          email 
          [value]="inputModel"
          (ionInput)="onInput($event)"
          #ionInputEl
          inputmode="email"
          enterkeyhint="next"
          required
          shape="round"
        >
        </ion-input>

        <ion-input
          type="password"
          label="Your password goes here"
          labelPlacement="floating"
          placeholder="**********"
          ngModel
          password
          [value]="passwordModel"
          (ionInput)="onPasswordInput($event)"
          #ionPasswordInputEl
          enterkeyhint="next"
          minlength="6"
          required
          shape="round"
        >
<ion-input-password-toggle slot="end">

</ion-input-password-toggle>
        </ion-input>

      <ion-button expand="block" (click)="signUp()">
        <ion-icon name="rocket-sharp" aria-hidden="true"></ion-icon>
        <ion-label slot="start">Sign up</ion-label>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-button>
  </ion-content>
</ion-content>
