<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
    <ion-buttons slot="start">
      <!-- <ion-menu-button menu="main"></ion-menu-button> -->
       <ion-back-button defaultHref="/welcome"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/welcome"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-card>
      <ion-img src="assets/football-players.png"></ion-img>
      <ion-card-header>
        <ion-card-title>Login</ion-card-title>
        <ion-card-subtitle>Please enter your credentials to continue.</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-text>Welcome back! Please login to your account.</ion-text>

        <ion-input
          type="email"
          required
          label="Email"
          labelPlacement="stacked"
          (ionInput)="onEmailInput($event)"
          inputmode="email"
          #ionEmailInputEl
          [value]="emailModel"
          type="email"
          enterkeyhint="next"
          errorText="Invalid Email"
        ></ion-input>
        <ion-input
          required
          label="Password"
          labelPlacement="stacked"
          (ionInput)="onPasswordInput($event)"
          #ionPasswordInputEl
          [value]="passwordModel"
          type="password"
          enterkeyhint="done"
          errorText="invalid Password"
        >
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>
    
        <ion-button expand="block" (click)="onSignIn()">
          <ion-icon slot="end" name="log-in-sharp"></ion-icon>
          <ion-label>Login</ion-label>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-button>
      </ion-card-content>
    </ion-card>
    <ion-list inset="false">
      <ion-item routerLink="/register" routerLinkActive="active">
        <a> Register now </a>
        <ion-icon slot="end" name="arrow-forward-circle-sharp"></ion-icon>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-alert
    [isOpen]="isLoginErrorAlertOpen"
    trigger="loginError"
    header="Login Error"
    subHeader="Invalid credentials"
    message="Please check your email and password and try again."
    [buttons]="loginErrorButtons"
    (didDismiss)="onLoginErrorAlert(false)"
    #ionAlert
  >

  </ion-alert>
</ion-content>
